/*INDEX*/
/*Selector*/
/*para seleccionar una clase antepongo un . al valor del atributo class*/
* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    background-image: url(../img/1920x1080-Fondo-negro-de-cuero.jpg);
    background-size: cover;
}
.logo {
    font-size: 50px;
}

.nav {
    text-decoration: none;
}

.text {
    width: 60px;
    height: 60px;
}

.text2 {
    width: 50;
    height: 50px;
}

.index {
    font-size: 25px;
    color: white;
}

.wrapper {
    position: fixed;
    background-image: url(../img/1920x1080-Fondo-negro-de-cuero.jpg);
    height: 58px;
    width: 2000px;
}

.nav {
    color: rgb(255, 255, 255);
    font-size: 20px;
    transition: 1.5s all;
    padding-left: 90px;
}

.nav:hover {
    text-decoration: underline red;
}
li {
    display: inline;
}

#titular {
    background-color: black;
    width: 265px;
    height: 32px;
    font-size: 30px;
    color: white;
}

.alquilar {
    font-size: 25px;
    padding-left: 30px;
    color: white;
}

.rental1 {
    padding-left: 200px;
    width: 600x;
    height: 600px;
}

.form {
    font-size: 20px;
    color: white;
}
body {
    margin: 0px;
}

.nombre {
    font-size: 20px;
    color: white;
}

.redes {
    background-color: white;
}

.link {
    text-decoration: none;
}
.contenedorPrincipal{
    display: grid;
}
.contenedorProducto {
        display: grid;
        grid-template-columns: 40rem 40rem;
        grid-template-rows: 100px;
        gap: 20px;
        place-content: center;
        margin-top: 130px;
}
.lorem{
    color: white;
}
.productoProcaliber{
    place-self: center;
    color: white;
    text-decoration: none;
    font-size: 25px;

}
.productoProcaliber:hover{
    text-decoration: underline red;
}

.productoSupercaliber:hover{
    text-decoration: underline red;
}
.productoSupercaliber{
    place-self: center;
    color: white;
    text-decoration: none;
    font-size: 25px;
}
.productoTopFuel:hover{
    text-decoration: underline red;
}
.productoTopFuel{
    place-self: center;
    color: white;
    text-decoration: none;
    font-size: 25px;
}
.topfuel {
    width: 650px;
}
.contenedorProducto2 {
    display: grid;
    grid-template-columns: 40rem 40rem;
    grid-template-rows: 100px;
    gap: 20px;
    place-content: center;
}
.productoMadone:hover{
    text-decoration: underline red;
}
.productoMadone{
    place-self: center;
    color: white;
    text-decoration: none;
    font-size: 25px;
}
.madone{
    width: 650px;
}
footer{
    display: flex;
    max-width: 100%;
    flex-direction: column;
}
.contacto{
    margin-top: 40px;
}
.logosRedes{
    display: flex;
    margin-top: 40px;
    gap: 20px;
}
