/*INDEX*/
/*Selector*/
/*para seleccionar una clase antepongo un . al valor del atributo class*/
* {
    margin: 0;
    Padding: 0px;
    box-sizing: border-box;
}

/*deskop*/
@media(min-width:1024px) {
    .gridIndex{
        display: grid;
        
    }

}

/*movil*/


/*codigo*/
.logo {
    font-size: 50px;
}

.nav {
    text-decoration: none;
}

.text {
    width: 60px;
    height: 60px;
}

.text2 {
    width: 50;
    height: 50px;
}

.index {
    font-size: 25px;
    color: white;
}

.wrapper {
    position: fixed;
    background-image: url(../img/1920x1080-Fondo-negro-de-cuero.jpg);
    height: 58px;
    width: 2000px;
    padding-left: 950px;
}

.nav {
    color: rgb(255, 255, 255);
    font-size: 20px;
    transition: 1.5s all;
    padding-left: 90px;
}

.nav:hover {
    text-decoration: underline red;
}

.cuadrado {
    background-image: url(../img/1920x1080-Fondo-negro-de-cuero.jpg);
    background-size: cover;
}

li {
    display: inline;
}

/* con esta propiedad podemos pasar un elemento en bloque a en linea y uno de en linea a en bloque. inline, block o inline-block*/
.asd {
    padding-left: 750px;
    margin: 80px
}

#titular {
    background-color: black;
    width: 265px;
    height: 32px;
    font-size: 30px;
    color: white;
}

.alquilar {
    font-size: 25px;
    padding-left: 30px;
    color: white;
}

.rental1 {
    padding-left: 200px;
    width: 600x;
    height: 600px;
}

.form {
    font-size: 20px;
    color: white;
}

.video {
    padding-left: 400px;
    width: 1500px;
}

body {
    margin: 0px;
}

.nombre {
    font-size: 20px;
    color: white;
}

.gu {
    padding-left: 1500px;
}

.redes {
    background-color: white;
}

.link {
    text-decoration: none;
}

.contenedorProducto {
        display: grid;
        grid-template-columns: 40rem 40rem;
        grid-template-rows: 100px;
        gap: 20px;
        place-content: center;
}
.lorem{
    color: white;
}
.productoProcaliber{
    place-self: center;
    color: white;
    text-decoration: none;
    font-size: 25px;

}
.productoProcaliber:hover{
    text-decoration: underline red;
}

.productoSupercaliber:hover{
    text-decoration: underline red;
}
.productoSupercaliber{
    place-self: center;
    color: white;
    text-decoration: none;
    font-size: 25px;
}
.productoTopFuel:hover{
    text-decoration: underline red;
}
.productoTopFuel{
    place-self: center;
    color: white;
    text-decoration: none;
    font-size: 25px;
}
.topfuel {
    width: 650px;
}
.contenedorProducto2 {
    display: grid;
    grid-template-columns: 40rem 40rem;
    grid-template-rows: 100px;
    gap: 20px;
    place-content: center;
}
.productoMadone:hover{
    text-decoration: underline red;
}
.productoMadone{
    place-self: center;
    color: white;
    text-decoration: none;
    font-size: 25px;
}
.madone{
    width: 650px;
}


/*         <div><a class="producto" href="../pages/supercaliber9.6.html">   Supercaliber 9.6</a></div><br>
        <div><img class="supercaliber" src="../img/supercaliber-96-22-rd1-f0f90da23d45f84b2416561012650754-640-0.webp"></a></div><br></div>
        <a class="producto" href="../pages/topfuel7.html">Top Fuel 7</a><br>
        <img class="topfuel" src="../img/FuelEX_2022_hero_Profile_16x9.jpg"></a><br>/*

/*grid-template-columns: 500px 500px;
    grid-template-rows: 80px 500px;/*

    /*    display: flex;
    justify-content: center;
    align-items: center;/*


    /*    place-content: center;
    place-items: center;
}
.contenedorProducto {
    display: grid;
    grid-template-columns: 40rem 40rem;
    grid-template-rows: 100px;
}/ */